<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌展示</title>

    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">

    <!--查找项-->

    <el-form :inline="true" :model="brand" class="demo-form-inline">

        <el-form-item label="当前状态">
            <el-select v-model="brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
            <el-form-item label="企业名称">
                <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
            </el-form-item>
            <el-form-item label="品牌名称">
                <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
            </el-form-item>

        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>


    <el-button type="danger" @click="deleteByIds" plain>批量删除</el-button>
    <el-button type="primary" @click="dialogVisible = true" plain>新增</el-button>

    <!--表格-->
    <template >

        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
                :model="brand">
            <el-table-column
                    type="selection"
                    width="55"
                    align="center">
            </el-table-column>

            <el-table-column
                    type="index"
                    width="50"
                    align="center">
            </el-table-column>

            <el-table-column
                    prop="brandName"
                    label="品牌名称"

                    align="center">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称"

                    align="center">
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    label="排序"

                    align="center">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="当前状态"
                    align="center">
            </el-table-column>

            </el-table-column>

            <el-table-column label="操作"
                             align="center"
                             prop="id">
                <el-button type="primary" @click="" plain>修改</el-button>
                <el-button type="danger"  @click="" plain>删除</el-button>
            </el-table-column>


        </el-table>
        <!--分页-->
        <el-pagination
                background
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="100"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>

        <!--弹出窗-->
        <el-dialog
                title="编辑品牌"
                :visible.sync="dialogVisible"
                width="30%"
        >

            <el-form ref="form" :model="brand" label-width="80px">
                <el-form-item label="品牌名称">
                    <el-input v-model="brand.brandName"></el-input>
                </el-form-item>

                <el-form-item label="企业名称">
                    <el-input v-model="brand.companyName"></el-input>
                </el-form-item>

                <el-form-item label="排序">
                    <el-input v-model="brand.ordered"></el-input>
                </el-form-item>

                <el-form-item label="备注">
                    <el-input type="textarea" v-model="brand.description"></el-input>
                </el-form-item>

                <el-form-item label="状态">
                    <el-switch v-model="brand.status"
                               active-value="1"
                               inactive-value="0"
                    ></el-switch>
                </el-form-item>


                <el-form-item>
                    <el-button type="primary" @click="addBrand">提交</el-button>
                    <el-button @click="dialogVisible = false">取消</el-button>
                </el-form-item>
            </el-form>

        </el-dialog>

    </template>


</div>


<!--导入相关配置-->
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",

        mounted() {
            this.selectByPage();

        },

        data() {
            return {
                //总页数
                totalCount: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                //当前页数
                currentPage: 1,
                //每页展示数
                pageSize: 5,
                //品牌
                brand: {
                    id: '',
                    brandName: '',
                    companyName: '',
                    ordered: '',
                    description: '',
                    status: '',
                },
                //表格展示的数据集合
                tableData: [],

                // 复选框选中数据集合
                multipleSelection: [],

                //选中的id集合
                selectIDs: []
            }
        },
        methods: {


            //单个删除
            deleteById() {
                alert();
                //确认是否删除的操作
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //删除操作

                    //将复选框选择的数据放入集合中


                    //根据id进行删除
                    var _this = this;
                    //发起异步请求
                    axios({
                        method: "post",
                        url: "http://localhost/brand/deleteByIds",
                        data: _this.selectIDs
                    }).then(function (response) {
                        //删除成功
                        if (response.data == "success") {
                            //显示数据
                            _this.selectAll();
                            _this.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                        }
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            //批量删除
            deleteByIds() {
                //确认是否删除的操作
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //删除操作

                    //将复选框选择的数据放入集合中
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectElement = this.multipleSelection[i];
                        this.selectIDs[i] = selectElement.id;
                    }

                    //根据id进行删除
                    var _this = this;
                    //发起异步请求
                    axios({
                        method: "post",
                        url: "http://localhost/brand/deleteByIds",
                        data: _this.selectIDs
                    }).then(function (response) {
                        //删除成功
                        if (response.data == "success") {
                            //显示数据
                            _this.selectAll();
                            _this.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                        }
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            //查询所有
            selectByPage() {
                //加载数据,执行一个异步请求
                var _this = this;

                axios({
                    method: "post",
                    url: "http://localhost/brand/selectByPageAndCondition?currentPage=" + _this.currentPage + "&pageSize=" + _this.pageSize,
                    data: this.brand
                }).then(function (response) {
                    //获取到一个PageBean数据[row:{},totalCount]
                    _this.tableData = response.data.row;
                    _this.totalCount = response.data.totalCount;
                })
            },
            //查询所有
            selectAll() {
                //加载数据,执行一个异步请求
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost/brand/selectAll"
                }).then(function (response) {
                    _this.tableData = response.data;
                })
            },


            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
                //console.log(this.multipleSelection);
            },


            // 添加数据
            addBrand() {
                var _this = this;
                //发起异步请求
                axios({
                    method: "post",
                    url: "http://localhost/brand/add",
                    data: _this.brand
                }).then(function (response) {
                    //添加成功
                    if (response.data == "success") {
                        //显示数据
                        _this.selectAll();
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });

                        //关闭窗口
                        _this.dialogVisible = false;

                    }
                })
            },
            //提示消息


            onSubmit() {
                console.log(this.brand);
                this.selectByPage()

            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },

            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.selectByPage();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectByPage();

                //console.log(`当前页: ${val}`);
            }
        }

    })


</script>
</body>
</html>